<a href="https://colab.research.google.com/github/s65021965/Python-project/blob/main/Python_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Calculate the sum, difference, product, and quotient of two numbers#
a = 10
b = 5
sum_result = a + b
print("Sum:", sum_result)

Sum: 15

In [ ]:
Difference_result = a - b
print("Difference:", Difference_result)

Difference: 5

In [ ]:
a = 10
b = 5
Product_result = a * b
print("Product:", Product_result)

Product: 50

In [ ]:
a = 10
b = 5
Quotient_result = a / b
print("Quotient:", Quotient_result)

Quotient: 2.0

In [16]:
#Perform various assignment operations on variable#
#Initialize a variable#


#Addition#
y = 15
x = y + 3
print("After Addition:", x)

#Subtraction#
y = 15
x = y - 2
print("After Subtraction:", x)

#Multiplication#
y = 15
x = y * 4
print("After Multiplication:", x)

#Division#
y = 15
x = y / 3
print("After Division:", x)

#Modulus#
y = 15
x = y % 5
print("After Modulus:", x)

#Exponential#
y = 15
x = y ** 2
print("After exponential:", x)

#Floor Division#
y = 15
x = y // 2
print("After Floor Division:", x)

After Addition: 18
After Subtraction: 13
After Multiplication: 60
After Division: 5.0
After Modulus: 0
After exponential: 225
After Floor Division: 7

In [ ]:
#Compare two numbers and print the results#
num1 = 10
num2 = 5
if num1 > num2:
  print("num1 is greater than num2")
elif num2 > num1:
  print("num2 is greater than num1")
else:
  print("num1 is equal to num2")

num1 is greater than num2

In [ ]:
#Check conditions using logical operators#
x = 5
y = 10
z = 15
if x < y and y < z:
  print("Both conditions are True")
else:
  print("Atleast one condition is False")
if x > y or y < z:
  print("Atleast one condition is True")

Both conditions are True
Atleast one condition is True

In [2]:
#Check the identity of variables#
x = "Hello World"
print(type(x))

<class 'str'>

In [3]:
x = 10
print(type(x))

<class 'int'>

In [4]:
x = 3.14
print(type(x))

<class 'float'>

In [5]:
x = (1,2,3,4,5)
print(type(x))

<class 'tuple'>

In [6]:
x = [1,2,3,4,5]
print(type(x))

<class 'list'>

In [7]:
x = True
print(type(x))

<class 'bool'>

In [8]:
x = {'Name': 'Alice','Age': '25'}
print(type(x))

<class 'dict'>

In [9]:
#Perform Bitwise operations on any two integers#
x = 5
y = 3
result_and = x & y
print("Bitwise AND:", result_and)

result_or = x | y
print("Bitwise OR:", result_or)

result_xor = x ^ y
print("Bitwise XOR:", result_xor)

result_not_x = -x
print("Bitwise NOT x:", result_not_x)

result_left_shift = x << 1
print("Bitwise Left Shift:", result_left_shift)

result_right_shift = x >> 1
print("Bitwise Right Shift:", result_right_shift)

Bitwise AND: 1
Bitwise OR: 7
Bitwise XOR: 6
Bitwise NOT x: -5
Bitwise Left Shift: 10
Bitwise Right Shift: 2

In [12]:
#Use unary operators to change the sign of a number#
number = 10
number = -number
print(number)

number = 10
number *= -1
print(number)

-10
-10

In [15]:
##Use the ternary operator to assign values based on conditions#
x = 40
y = 50
max_value = x if x > y else y
print(max_value)

50