<a href="https://colab.research.google.com/github/s65021965/Python-project/blob/main/Python_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Convert an integer to a floating-point number#
integer_number = 5
floating_point_number = float(integer_number)
print(floating_point_number)

5.0

In [2]:
#Convert a float to an integer#
float_number = 5
integer_number = int(float_number)
print(integer_number)

5

In [3]:
#Convert an integer to a string#
integer_number = 10
string_number = str(integer_number)
print(string_number)

10

In [4]:
#Convert a list to a tuple#
my_list = [1,2,3,4,5,6]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [5]:
#Convert a tuple to a list#
my_tuple = (1,2,3,4,5,6)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [9]:
#Convert a decimal number to a binary number#
decimal_number = 10
binary_number = bin(decimal_number)
print(binary_number)

0b1010

In [10]:
#Convert a non-zero number to a boolean#
number = 5
boolean_value = bool(number)
print(boolean_value)

True