<a href="https://colab.research.google.com/github/s65021965/Python-project/blob/main/Python_Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print numbers from 1 to 5 using a while loop#
n = 6
i = 1
while i < n:
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
#Calculate the sum of numbers from 1 to 10 using a while loop#
total = 0
num = 1
while num <= 10:
  total += num
  num = num + 1
print("The sum of numbers from 1 to 10:", total)

The sum of numbers from 1 to 10: 55

In [10]:
#Calculate the factorial of a number uing a for loop#
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
number = int(input("Enter a number: "))
print("Factorial of", number, "is:", number)

Enter a number: 50
Factorial of 50 is: 50

In [6]:
#Count the number of vowels in a string using a for loop#
input_string = input("Enter a string: ")
vowel_count = sum(1 for char in input_string if char.lower() in 'aeiou')
print("Number of vowels:", vowel_count)

Enter a string: Anthologist
Number of vowels: 4

In [7]:
#Print a pattern using nested loop#
rows = 5
for i in range(1, rows + 1):
  for j in range(1, i + 1):
    print("*", end =" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [8]:
#Generate a multiplication table using a nested loop#
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100